<div class="row">
	<div class="col-md-2">
		<ul class="list-group">
			<a class="list-group-item" href="#javascript">JavaScript</a>
			<a class="list-group-item" href="#javascript">JavaScript</a>
			<a class="list-group-item" href="#javascript">JavaScript</a>
			<a class="list-group-item" href="#javascript">JavaScript</a>
			<a class="list-group-item" href="#javascript">JavaScript</a>
			<a target="iframe" href="/works/demo/06/" class="list-group-item" href="#javascript">JavaScript</a>
		</ul>
	</div>
	<div class="col-md-10 h100">
		<iframe id="mainIframe" name="iframe" style="width: 100%;height: 100%;" scroll="no" src="main.html" frameborder="0"></iframe>
	</div>
</div>