<!--
	作者：hacke2@qq.com
	时间：2014-09-20
	描述：详细展示模板
-->
<div class="row">
	<div class="col-md-2">
		<ul class="list-group">
			<a ng-repeat="work in works"  target="iframe" href="{{work.url}}" title="{{work.desc}}" desc="{{work.desc}}" class="list-group-item" >{{work.name}}</a>
		</ul>
	</div>
	<div class="col-md-10 h100">
		<iframe id="mainIframe" name="iframe" style="width: 100%;height: 100%;" scroll="no" src="main.html" frameborder="0"></iframe>
	</div>
</div>

<script>
	$('#list-group a').live('mouseover',function(){
		var $this = $(this);
		$this.data('name',$this.html());
		$this.html($this.attr('desc'));
	})
	$('#list-group a').live('mouseout',function(){
		var $this = $(this);
		$this.attr('desc',$this.html());
		$this.html($this.data('name'));
	})
</script>