<!--
	作者：hacke2@qq.com
	时间：2014-09-20
	描述：详细展示模板
-->
<div class="row">
	<div class="col-md-2">
		<ul class="list-group">
			<a ng-repeat="work in works" href="index.html#/{{routeName}}/{{$index}}"  title="{{work.desc}}"  class="list-group-item" >{{work.name}}</a>
		</ul>
	</div>
	<div style="margin-left:250px;border:solid 1px #666;width: 320px;height: 500px;overflow-x : hidden;"class="col-md-4">
		<iframe id="mainIframe" name="iframe" style="margin:0;padding:0;" scrolling="auto" src="#" frameborder="0"></iframe>
	</div>
</div>
