<!--
	作者：hacke2@qq.com
	时间：2014-09-20
	描述：详细展示模板
-->
<div class="row">
	<div class="col-md-2">
		<ul class="list-group">
			<a ng-repeat="work in works" href="index.html#/{{routeName}}/{{$index}}"  title="{{work.desc}}"  class="list-group-item" >{{work.name}}</a>
		</ul>
	</div>
	<div class="col-md-10">
		<div style="position:relative;margin: 0 auto;border:solid 15px #666;border-bottom:solid 50px #666;border-radius:8px;width: 320px;height: 480px;">
			<div style="height: 480px;">
				<iframe id="mainIframe" name="iframe" src="#" frameborder="0"></iframe>
			</div>
			<div style="position: absolute;bottom: -45px;left: 130px;border-radius:20px;z-index: 10;width:40px;height:40px;background:#f0f0f0"></div>
		</div>
	</div>
</div>
